* {
  box-sizing: border-box;
}

.App {
  display: flex;
  background-color: rgb(8, 11, 59);
  padding: 100px;
  height: 100vh;
}
.plugin-container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 15px;
}

.tab {
  background-color: white;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
